/*
!/.gitignore
!/xcmath
!/test
!/docs
!/CMakeLists.txt
!/README.md
!/README-zh.md
!/LICENSE
!/.clang-format
!/resources/
!/vcpkg.json
!/CMakePresets.json
!/Doxyfile
!/xmake.lua
!/examples/
!/TODO
!/cmake
!/third_party/
!/docs/doxygen
!/.github/
